<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        
        <p class="lead">Our mission is to provide a home for progressive tech projects.</p>
        
        <div class="about-body col-lg-8 col-lg-offset-2 text-left">
          <p>In the run-up to an election, many campaigns develop useful code to help them execute their programs.

            Election Day comes and goes... and the code disappears.

            We're here to give that code a home, and to keep it in use for future cycles.</p>
        </div> <!-- .about-body -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
