<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>

        <p class="lead">We're at code hope.</p>

        <div class="about-body col-lg-8 col-lg-offset-2 text-center">
          <p>Numerous crises grab headlines every day, from climate change to the corrosion of democracy. It's easy to respond to the news with anger, fear, or despair. But the best way forward is with hope.</p>
          
          <p>We're here to imagine solutions... and turn them into code.</p>

          <p>Our mission here is to encourage the creation of new technologies, institutions, and policies which will move the progressive movement forward. We do that by cataloging problems that the movement faces and documenting ideas for solving those problems. We warmly encourage anyone to join us, contribute thoughts, and to steal our ideas!</p>

          <p>This site was created by Shai Sachs and is not affiliated with or funded by any other institution.</p>
        </div> <!-- .about-body -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>