<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>

        <p class="lead">We're at code hope.</p>

        <div class="about-body col-lg-8 col-lg-offset-2 text-left">
          <p>Numerous crises grab headlines every day, from climate change to the corrosion of democracy. It's easy to respond to the news with anger, fear, or despair. But the best way forward is with hope.</p>

          <p>We're here to imagine solutions... and turn them into code.</p>

          <p>In our Idea Lab, we catalog all sorts of problems which impact the progressive movement and civic society. We collect ideas to solve those problems.</p>

          <p>In our Code section, we point to code that we think is useful for progressive organizations working to solve some of the huge crises we face. Some of it is our own!</p>

          <p>In the Discussions section, we're hoping to keep the ideas flowing. We point to interesting pieces that deserve your attention, as well as publications and organizations worth your attention.</p>
        </div> <!-- .about-body -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>