<header id="top" class="header">
  <div class="text-vertical-center">

    <h1>Code Hope Labs</h1>

    <h3>A virtual think tank for the progressive tech ecosystem</h3>

    <br>
    <a href="https://docs.google.com/document/d/1mbyJ3QsefNA7KItbYwIoYai_bISvARVY8ix9X8cJVz4/edit#" class="btn btn-dark btn-lg">Join us on Slack!</a>
    <a href="https://github.com/codehopelabs/codehopelabs.github.io" class="btn btn-dark btn-lg">Fork us on Github!</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfniNweivegelcLWRquAboZ4bJ-JZs_dU-FRxZyw67_ZhoIng/viewform?usp=send_form" class="btn btn-dark btn-lg">Volunteer</a>
  </div>
</header>
