<section id="join-us" class="join-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Join us</h2>
        
        <p class="lead">If you'd like to help, <a href="https://forms.gle/Mhy9LnGtPC9Pf2RR9">fill out our contact form</a>.</p>
        <a href="https://docs.google.com/document/d/1mbyJ3QsefNA7KItbYwIoYai_bISvARVY8ix9X8cJVz4/edit#" class="btn btn-dark btn-lg">Join us on Slack!</a>

        <p>Feel free to join the discussion on <a href="https://docs.google.com/document/d/1mbyJ3QsefNA7KItbYwIoYai_bISvARVY8ix9X8cJVz4/edit#">our Slack workspace</a></p>

        <p>Or <a href="https://github.com/codehopelabs/codehopelabs.github.io">contribute directly to this site on Github</a>!</p>
        
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
