<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

	{% include menu.html %}

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-left">
				<div class="page">

					<header>
						<h1 class="page-title"
							{% if page.bannerimg %}
								style="background-image: url({{ page.bannerimg }})"
							{% endif %}
						> <!-- h1.page-title -->
							<div class="title-plate">
								<span class="title-text">{{ page.title }}</span>
							</div>
						</h1> <!-- /h1.page-title -->
					</header>

					<article class="page-content">
						{{ content }}
						
						{% if page.photographer %}
							<p class="credits">Image courtesy of
								{% if page.photographerurl %}
									<a href="{{ page.photographerurl }}">
								{% endif %}
										{{ page.photographer }}
								{% if page.photographerurl %}
									</a>
								{% endif %}
						{% endif %}
					</article>

				</div> <!-- /.page -->
			</div> <!-- /.col -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->

	{% include footer.html %}
	{% include scripts.html %}
  
</body>

</html>
