<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

	{% include navigation.html %}

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-left">

				<div class="post">

					<header class="post-header">
						<h1 class="post-title"
							{% if page.bannerimg %}
								style="background-image: url({{ page.bannerimg }})"
							{% endif %}
							>
      <div class="title-plate">
							<span class="title-text">{{ page.title }}</span>
      </div>
						</h1>

						<ul class="text-muted bookmarks">
							<li>&#10146; <a href="/">Home</a></li>
							<li>&#10146; <a href="/blog-archive.html">Blog posts</a></li>
						</ul>

						<p class="post-meta">
							{{ page.date | date: "%b %-d, %Y" }}
							{% if page.author %} • {{ page.author }}{% endif %}
							{% if page.meta %} • {{ page.meta }}{% endif %}
						</p> <!-- /.post-meta -->
					</header>

					<article class="post-content">
						{{ content }}

						{% if page.photographer %}
							<p class="credits">Image courtesy of
								{% if page.photographerurl %}
									<a href="{{ page.photographerurl }}">
								{% endif %}
										{{ page.photographer }}
								{% if page.photographerurl %}
									</a>
								{% endif %}
						{% endif %}
					</article>

				</div> <!-- /.post -->

			</div> <!-- /.col -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->

	{% include footer.html %}
	{% include scripts.html %}
  
</body>

</html>

